@import url(https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbG9sRUxJSk5iWm1SMlRRMkdJODIwZC1kMjJyZ3xBQ3Jtc0trV0lrOGlTWVhNd21MYloyNDdJMEFILTEtbjVQekdWaDFuT0JPSlIzemx5TkROcTd4VFlMbUFwbG5PQ3FhQVNGZTFEUnRZcFJZTmstaTZVZ0g2cVdsNmVOcUk2ZTZxVnl6OGtZd3EyX2tpQVJBYXNDbw&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DJosefin%2BSans%3Awght%40400%3B700%26display%3Dswap%27%29%3B&v=lZE0Qydl4ko);

html.
body    {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

*   {
  box-sizing: border-box;  
}

img {
  max-width: 100%;
}

.flex-row   {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.theme-dark {
    --bg-top-image:url(images/bg-desktop-dark.jpg) no-repeat;
    --main-bg:hsl(235, 21%, 11%);
    --todo-bg:hsl(235, 24%, 19%);
    --todo-shadow:hsl(235, 21%, 11%);
    --font-color:hsl(234, 39%, 85%);
    }

.theme-light   {
    --bg-top-image: o o url(images/bg-desktop-light.jpg) no-repeat;
    --main-bg:hsl(0, 0%, 98%);
    --todo-bg:hsl(0, 0%, 98%);
    --todo-shadow:hsl(236, 9%, 61%);
    --font-color:hsl(235, 21%, 11%);
    --font-color-hover:hsl(235, 21%, 11%);
}

body {
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    background-size: contain;
    color: var(--font-color);   
    }

header.
main {
    max-width: 545px;
    margin: auto;
}
h1  {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 1rem; 
}

.theme-black #theme {
    display: none;
}

.theme-black #theme + label::before {
    content: "";
    background: url(images/icon-sun.svg);
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.theme-black #theme:checked + label::before {
    background: url(images/icon-moon.svg);
}

.add-new-item   {
    background: var(--todo-bg);
    height: 65px;
    border-radius: 5px;
    margin: 24px;
    padding: 24px;
    position: relative;
}

.add-new-item #additem  {
    background: transparent;
    color: var(--font-color);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font:400 18px/1 "Josefin Sans", sans-serf;
    margin: 4px 47px;
    letter-spacing: 0.7px;
}

.add-new-item span  {
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 26px;
    top: 21px;
    cursor: pointer;
}

.add-new-item span:hover    {
    background: center url(images/icon-check.svg) no-repeat,
    linear-gradient hsl(135deg, hsl(192, 100%, 67%) to hsl(280, 87%, 65%))
}

.content    {
    background: var(--todo-bg);
    border-radius: 5px;
    box-shadow: 42px 10px -9px var(--todo-shadow);
}

ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li   {
    padding:0 10px 0 25px;
    min-height: 65px;
    border-bottom: 1px solid var(--font-color);
    position: relative;
}
    


